header {
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
  flex-shrink: 0;
}

header h1 .header-link {
  color: white;
  text-decoration: none;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-grow: 1;
  max-width: 600px;
  margin: 0 20px;
}

.search-container form {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-container input[type="text"] {
  padding: 12px 20px;  /* Increase padding for a taller input */
  border: 1px solid #3a3a3a;
  border-radius: 24px 0 0 24px;
  background-color: #121212;
  color: #fff;
  width: 100%;
  font-size: 1.1rem;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  height: 50px; /* Set the height to match YouTube's search bar */
}
.search-container input[type="text"]:focus {
  border-color: #f44336;  /* Focused input border color */
  box-shadow: 0 2px 5px rgba(244, 67, 54, 0.6);  /* Focused shadow effect */
}

.search-container button {
  padding: 12px 16px; /* Adjust padding for better vertical alignment */
  border: none;
  background-color: #333;
  color: #ffffff;
  border-radius: 0 24px 24px 0;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  height: 50px; /* Make the button height the same as the input */
}

/* .search-container button:hover {
  background-color: #d32f2f;
} */

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #333;
  overflow-y: auto;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
  width: calc(100% - 45px);
  padding: 5px 0;
}

.suggestion-item {
  padding: 12px 15px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  transition: background-color 0.2s;
}

.suggestion-item span {
  display: inline-block;
  max-width: calc(100% - 10px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.suggestion-item span:first-child {
  font-weight: bold;
  font-size: 1rem;
}

.suggestion-item span:last-child {
  font-size: 0.9rem;
  color: #ccc;
}

.suggestion-item:hover {
  background-color: #444;
}

.header-buttons {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}

.logout-button, .categories-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover, .categories-button:hover {
  background-color: #f44336;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    order: 1;
    margin-left: 20px;
    flex-grow: 1;
  }

  .header-buttons {
    order: 2;
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .search-container {
    order: 3;
    width: 100%;
    margin-top: 10px;
  }

  .search-container input[type="text"] {
    width: 90%;
    font-size: 1rem;
  }

  .search-container button {
    padding: 10px 14px;
    font-size: 1rem;
  }

  .logout-button, .categories-button {
    width: 100%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    order: 1;
    margin-left: 20px;
    flex-grow: 1;
  }

  .header-buttons {
    order: 2;
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .search-container {
    order: 3;
    width: 100%;
    margin-top: 10px;
  }

  .search-container input[type="text"] {
    width: 90%;
    font-size: 1rem;
  }

  .search-container button {
    padding: 10px 14px;
    font-size: 1rem;
  }

  .logout-button, .categories-button {
    width: 100%;
    font-size: 1rem;
  }
}
